.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; 
  justify-items: center;
  min-height: 100svh;
  padding: 2rem; 
  gap: 2rem;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
  width: 100%;
  max-width: 400px; 
}

/* Ajuste adicional para telas muito grandes */
@media (min-width: 1600px) {
  .page {
    padding: 3rem 10%;
  }
}

/* Tema dark mantido igual */

/* Mobile */
@media (max-width: 900px) {
  .page {
    grid-template-columns: 1fr;
    padding: 1.5rem;
    padding-bottom: 3rem;
    min-height: auto;
    max-width: 450px !important;
    align-items: flex-start; 
  }

  .main {
    margin-top: 60px !important;
  }

  .main {
    gap: 1rem;
    max-width: 100%;
  }

  .main ol {
    width: 100%;
  }

}

